<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body style="margin:0px;">
    <div style="width:800px; margin:0 auto 0 auto">
        <h3>2.1.2 İşveren/Ana Yükleniciye Ait Bilgiler</h3>
        <table style="width: 600px;">
            <tr>
                <td colspan="2">İşveren İle İlgili Bilgiler</td>
            </tr>
            <tr>
                <td>İşveren</td>
                <td id="isveren">%isveren%</td>
            </tr>
            <tr>
                <td>İşveren/Ana Yüklenici Unvanı </td>
                <td id="unvan">%unvan%</td>
            </tr>
            <tr>
                <td>İşyeri SGK Sicil No. </td>
                <td id="sgk">%sgksicil%</td>
            </tr>
            <tr>
                <td>Tebligat Adresi</td>
                <td id="tebligat">%tebligat%</td>
            </tr>
            <tr>
                <td>Telefon / Faks</td>
                <td id="tel">%tel%</td>
            </tr>
            <tr>
                <td>Web adresi</td>
                <td id="web">%web%</td>
            </tr>
            <tr>
                <td>Sorumlu Yapı Denetim Firması /Sorumlu Müşavir Firma/ Diğer Kontrol Birimleri</td>
                <td id="sorumlu">%yapıdenetim%</td>
            </tr>
        </table>
        
        </div>
    </body>
    </html>