<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body style="margin:0px;">
    <div style="width:800px; margin:0 auto 0 auto">
        <h1 style="margin-top:20px;">2. PROJE BİLGİLERİ</h1>
        <h2>2.1 Genel Bilgiler</h2>
        <h3>2.1.1 Projeye Ait Bilgiler</h3>
        <table style="width: 600px;">
            <tr>
                <td colspan="2">Proje İle İlgili Bilgiler</td>
            </tr>
            <tr>
                <td>Proje Adı:</td>
                <td id="ProjeAdı">%Projeadi%</td>
            </tr>
            <tr>
                <td>İşin Sahibi/İhale Makamı:</td>
                <td id="sahib">%işinsahibi%</td>
            </tr>
            <tr>
                <td>Yapı Sahasının Açık Adresi:</td>
                <td id="adres">%adres%</td>
            </tr>
            <tr>
                <td>Projenin Tanımı ve Kapsamı:</td>
                <td id="tanım">%tanim%</td>
            </tr>
            <tr>
                <td>Projenin Başlangıç Tarihi:</td>
                <td id="baslangic">%baslangic%</td>
            </tr>
            <tr>
                <td>Projenin Planlanan Bitiş Tarihi:</td>
                <td id="bitis">%bitis%</td>
            </tr>
        </table>
        </div>
    </body>
    </html>