<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    
</head>
<body  >
    <div id="alt">
        <h1 style="margin-top:20px; background-color:aqua">1. YÖNETİMİN TAAHHÜDÜ</h1>
        <p id="yonetim1">
            <label id="firmaismi">firma</label> yöneticisi olarak  <label id="proje">Proje</label> projesinin hazırlık ve uygulama aşamalarını kapsayacak şekilde projenin tamamlanmasına kadar geçen sürede çalışanların sağlık ve güvenliklerini korumak amacıyla;
            <br />
        </p>
            <div id="taah">

            </div>

        
        <p>
            taahüt ederim.
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div id="yonetim_imza" style="float:right; width:300px;">
            Tarih:<label id="Tarih" style="float:right">Tarih</label>
            <br />
            <br />
            İmza:
            <br />
            (En üst düzey yönetici tarafından imzalanacaktır.)
            <br />
            <br />
            <br />
            <br />
            <br />
            Adı Soyadı: <label id="adsoyad"></label>
            <br />
            <br />

        </div>
    </div>
    </body>
    </html>